---
interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
import "../assets/style.css";

const metaTitle = title || "404 | Matthieu Caron - Frontend developer";
const metaDescription = description || "404 page";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>404</title>
    <meta name="generator" content={Astro.generator} />
    <meta content={metaTitle} property="og:title" />
    <meta content={metaTitle} property="twitter:title" />

    <meta content={metaDescription} name="description" />
    <meta content={metaDescription} property="og:description" />
    <meta content={metaDescription} property="twitter:description" />

    <meta content="https://matthieucaron.fr/og-image.jpg" property="og:image" />
    <meta
      content="https://matthieucaron.fr/og-image.jpg"
      property="twitter:image"
    />
    <meta property="og:type" content="website" />
    <meta content="summary_large_image" name="twitter:card" />
  </head>
  <body>
    <Nav />

    <main>
      <h1 style={{ fontSize: "5rem" }}>404</h1>
      <div class="links-404">
        <a href="/" style={{ fontSize: "2rem", textUnderlineOffset: "10px" }}
          >Go Home</a
        >
      </div>
    </main>
    <Footer />
  </body>

  <style>
    body {
      display: flex;
      flex-direction: column;
      min-height: 100dvh;
      justify-content: space-between;
    }

    .links-404 {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
      & a {
        color: var(--fg-color);
        text-underline-offset: 2px;
      }
    }

    h1 { margin: 0;}

    main {
      margin: 0 auto auto;
      padding: 1rem;
      max-width: 800px;
      width: 100%;
    }
  </style>
</html>
