---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import { Image } from "astro:assets";
import designSystem01 from "../assets/design-system/ds-datepicker.svg";
import designSystem02 from "../assets/design-system/ds-select.svg";
import designSystem03 from "../assets/design-system/ds-modal.svg";

import goodmed04 from "../assets/goodmed/goodmed-app.png";
import goodmedWebsite from "../assets/goodmed-website/goodmed-website.png";
---

<Layout>
  <h1>
    Matthieu Caron <span> – Frontend developer</span>
  </h1>
  <p class="intro">
    I’m a Frontend Developer with a strong focus on crafting intuitive and
    engaging user interfaces. I like to works on products, design system and
    websites.
  </p>
  <hr />
  <h2 id="works" class="works-title">Selected Works</h2>
  <ul role="list" class="link-card-grid">
    <Card href="/design-system" title="Synapse Design System">
      <div
        style={{
          display: "flex",
          alignItems: "flex-end",
          gap: "1rem",
          padding: "1rem 1rem",
        }}
      >
        <Image
          src={designSystem03}
          class="img-shadow"
          alt="date picker component"
        />
        <Image
          src={designSystem01}
          class="hide-mobile img-shadow"
          alt="select component"
        />
        <Image
          src={designSystem02}
          class="hide-tablet img-shadow"
          alt="modal component"
        />
      </div>
    </Card>

    <Card
      href="https://app.adjust.com/priy09i?campaign=Website-2022&adgroup=General&creative=CTA"
      title="Goodmed"
      external
    >
      <Image
        style="width: auto"
        src={goodmed04}
        alt="3 screenshots of the Goodmed application"
      />
    </Card>

    <Card href="https://goodmed.com" title="Goodmed website" external>
      <div class="gmed-website-container">
        <Image
          src={goodmedWebsite}
          class="img-shadow"
          alt="The homepage of the Goodmed Website"
        />
      </div>
    </Card>
  </ul>
</Layout>

<style>
  h1,
  h2 {
    line-height: 1;
    margin-bottom: 1em;
  }

  a {
    color: var(--fg-color);
  }

  h1 {
    font-weight: 600;
  }

  h2 {
    font-weight: 500;
  }

  .link-card-grid {
    display: grid;
    gap: 3.5rem;
    padding: 0;
  }

  hr {
    border-width: 0px;
    height: 1px;
    background-color: rgba(var(--fg-color), 0.085);
    display: block;
    width: 100%;
    margin: 3rem 0;
  }

  .intro {
    font-weight: 400;
    color: var(--text-color);
  }

  .intro > strong {
    font-weight: 500;
  }

  .works-title {
    margin-bottom: 1.5rem;
  }

  .img-shadow {
    max-width: 100%;
    filter: drop-shadow(0px 2px 28px rgba(34, 45, 57, 0.05));
  }
  figure img {
    height: 100%;
    display: flex;
    flex: 1;
    object-fit: contain;
  }

  .gmed-website-container {
    padding: 2.25rem;
    @media (max-width: 768px) {
      padding: 0;
    }

    img {
      border-radius: 8px
    }
  }
</style>
