---
interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
import "../assets/style.css";

const metaTitle = title || "Matthieu Caron - Frontend developer";
const metaDescription = description || "Portfolio of Matthieu Caron";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

interface Props {
  footerStager?: number;
}

const { footerStager } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{metaTitle}</title>
    <meta name="description" content={metaDescription} />
    <meta name="generator" content={Astro.generator} />
    <meta content={metaTitle} property="og:title" />
    <meta content={metaTitle} property="twitter:title" />

    <link rel="canonical" href={canonicalURL} />
    <meta content={metaDescription} name="description" />
    <meta content={metaDescription} property="og:description" />
    <meta content={metaDescription} property="twitter:description" />

    <meta content="https://matthieucaron.fr/og-image.jpg" property="og:image" />
    <meta
      content="https://matthieucaron.fr/og-image.jpg"
      property="twitter:image"
    />
    <meta property="og:type" content="website" />
    <meta content="summary_large_image" name="twitter:card" />

    <script is:inline type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "CreativeWork",
        "name": "Portfolio of Matthieu Caron",
        "creator": {
          "@type": "Person",
          "name": "Matthieu Caron"
        },
        "description": "My frontend portfolio using Astro",
        "dateCreated": "2024-11-12",
        "url": "https://matthieucaron.fr",
        "image": "https://matthieucaron.fr/og-image.jpg"
      }
    </script>
  </head>
  <body>
    <Nav />
    <main>
      <slot />
    </main>
    <Footer stager={footerStager} />
  </body>
</html>

<style>
  main {
    margin: 0 auto;
    padding: 1rem;
    max-width: 800px;
    width: 100%;
  }
</style>
